@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway',sans-serif;
    
}

/*-----Navbar*/

.navbar-custom {
    background-color: #27285C;
    height: 100px;
}


.navbar-brand {
    font-size: 30px;
    color: #fafafa;
}

.nav-link {
    color: #fafafa;
    font-size: 24px;
}

/*-----Home Page*/

.homepage-information {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.info-heading {
    padding-top: 20px;
    padding-bottom: 20px;
}


/*----- Register */

.register-container {
    height: 200px;
    padding-bottom: 36px;
}

.register-heading {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.register-info {
    text-align: center;
    padding-bottom: 20px;
}

.btn-register-page {
    
    margin-bottom: 20px;
}

/*-----Glossary */

.glossary-heading {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.glossary-card {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 900px;
}

.search-box {
    justify-content: center;
}

/*--- Log In --*/

.login-container {
    padding-top: 60px;
    padding-bottom: 60px;
}


/*-----Footer */

.footer {
    background-color:#27285C;
    color: #fafafa;
    height: 100px;
    bottom: 0;
}