@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway',sans-serif;
}

/*-----Navbar*/

.navbar-custom {
    background-color: rgba(29, 186, 238, 0.74);
    height: 100px;
}

.navbar-brand {
    font-size: 36px;
    color: #fafafa;
}

.nav-link {
    color: #fafafa;
}




.register-container {
    height: 100px;
}

.register-heading {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.register-info {
    text-align: center;
    padding-bottom: 20px;
}

.glossary-heading {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.glossary-card {
    padding-top: 20px;
    padding-bottom: 20px;
}