<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviation Glossary</title>
</head>
<body>
    {% for definition in definitions %}
       {{ definition.definition_name }}<br>
       {{ definition.category_name }}<br>
       {{ definition.definition_description }}<br>
       {{ definition.definition_example }}<br>
    {% endfor %}
</body>
</html>