{% extends "base.html" %}
{% block content %}

<!-- Hero image and caption -->
<div class="container-fluid">
  <div class="row g-0">
    <div class="col-12 hero-image-container">
      <div class="hero-text">
        <h1> Aviation Glossary </h1><br>
        <hr>
        <p> An online tool for phraseology and abbreviations </p>
      </div>
    </div>
  </div>
</div>


<!-- Information about the site -->

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 homepage-information">
        <h3 class="info-heading"> What is Aviation Glossary ?</h3>
        <hr>
        <p> Designed by pilots, for pilots, Aviation Glossary is a compact and convienient way for aviators and aviation geeks alike to access our dictionary of phraseology and abbreviations commonly 
            used. Organized into three categories: Meterology, Radio Telephony(RT) and General, our database is constantly being updated and added to by our users.<br>
            Want to sign up and start adding your own av-phrases into the glossary?<br> Check out our <a href="{{ url_for('register') }}" class="btn btn-info"> Register</a> page to
            sign up.
        </p>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        glossary carousel will go here 
      </div>
    </div>
  </div>
</section>

{% endblock %}